.dashboard{
    margin: 50px;
}

.welcome-message{
    margin-left: 100px;
    font-size: medium;
}

.edit-profile{
    padding: 4px;
    bottom: 100px;
}
.ic{
    float: left;
    margin-right: 10px;
}

.t{
    margin-top: 2px;
}

.display-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.actions{
    line-height: 50px;;
}


.fa-plus{
    margin-right: 5px;
}

.fa-list{
    margin-right: 5px;
}

.fa-edit{
    margin-right: 5px;
}